{
  "openapi": "3.0.1",
  "info": {
    "title": "defaultTitle",
    "description": "defaultDescription",
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/repos/wzhao818/wo-bootstrap/issues": {
      "description": "create a issue in github",
      "post": {
        "operationId": "create-issue",
        "description": "create a issue in github",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref" : "#/components/schemas/create_issue_input"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/issue"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas" : {
      "create_issue_input": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "issue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "node_id": {
            "type": "string"
          }
        }
      }        
    },
    "securitySchemes": {
      "basic": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}